header{
  background-image: url(/assets/Background_Intro.png);
  background-size: cover;
  padding-top: 120px;
}

#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 680px;
  margin: auto;

  img{
    padding-block: 8px 56px;
  }

  h1{
    margin-block: 8px 20px;
  }

  p{
    margin-bottom: 80px;
  }
}

#knowledge{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .technology{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-300);
    padding: 8px 16px;
    border-radius: 999px;
    gap: 8px;
    
    span{
      font: var(--text-md);
      color: var(--gray-500);
    }

  }
}

#double-down{
  display: flex;
  justify-content: center;
  margin-block: 94px 57px;
}